<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div id="chatMessages">
		<div *ngFor="let message of messages" [class]="message.specialMessage ? 'special' : 'messages'">
			<div [class]="message.username==username ? 'single-message message-right' : 'single-message message-left'" *ngIf="!message.specialMessage">
				<div class="username">{{message.username}}</div>
				<div class="message">{{message.message}}</div>
			</div>
			<div class="special-message" *ngIf="message.specialMessage">
				<div class="message" light>{{message.message}}</div>
			</div>
		</div>
	</div>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<div id="footer">
			<div class="elem"><ion-input type="text" [(ngModel)]="message"></ion-input></div>
			<div class="elem"><button ion-button icon-only right (click)="addItem()">
				<ion-icon name="send"></ion-icon>
			</button></div>
		</div>
	</ion-toolbar>
</ion-footer>
